body {
  margin: 0;
  font-family: sans serif -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #040520;
  color: #000;
}

.md-box{
 width: 50%;
 text-align: left;
 padding: 10px;
}
